.birthday-shortcut-panel

  @media (max-width: $one-column-max)
    padding-left: 10px
    padding-right: 10px

  @media (min-width: $two-column-min) and (max-width: $two-column-max)
    padding-left: 10px
    padding-right: 10px

  @media (min-width: $three-column-min) and (max-width: $three-column-max)
    padding-left: 20px
    padding-right: 20px

  @media (min-width: $four-column-min)
    padding-left: 20px
    padding-right: 20px

.birthday-shortcut-panel__title
  display: inline-block
  padding: 5px 0
  color: #888
  font-size: 18px
  font-weight: bold
  margin-right: 10px

.birthday-shortcut-panel__shortcut
  display: inline-block
  padding: 5px 10px
  color: #444
  font-size: 18px
  text-decoration: underline
  cursor: pointer

  &:hover
    color: #000
