.birthdays__scroller
  overflow-y: auto
  padding: 0 10px 0 20px

.birthdays

.birthdays__title
  font-size: 24px
  line-height: 1.3
  color: #333
  margin-bottom: 1rem

.birthdays__date

  & + .birthdays__date
    margin-top: 2.5rem

.birthdays__date-title
  font-size: 24px
  font-weight: bold
  line-height: 1.3
  color: #111
  margin-bottom: .75rem

.birthdays__no-results


.birthdays__button-forward
  margin-top: 1rem
  padding: 1rem
  font-size: 18px
  color: #444
  text-decoration: #999 underline
  text-align: center
  cursor: pointer

  &:hover
    color: #000
    text-decoration: #111 underline
