.employee-info-scroller
  overflow-y: auto
  background-color: #fff
  filter: drop-shadow(0 8px 6px #888)

.employee-info

.employee-info__head
  display: flex

.employee-info__name
  flex: 0 1 100%
  padding: 1rem .5rem 0 1rem
  font-size: 24px
  line-height: 1.2
  color: #333

.employee-info__close-button
  flex: 0 0 3rem
  width: 3rem
  height: 3rem
  box-sizing: border-box
  cursor: pointer

.employee-info__close-button-cross
  display: block
  width: 3rem

  svg
    width: 3rem
    height: 3rem

.employee-info__post_title
  margin-top: 1rem
  font-size: 18px
  line-height: 1.2
  color: #444
  padding: 0 1rem

.employee-info__unit_title
  display: block
  margin-top: 1rem
  font-size: 18px
  line-height: 1.2
  color: #777
  padding: 0 1rem
  text-decoration: none

  &:hover
    text-decoration: underline

.employee-info__two-columns
  margin-top: 2rem
  display: flex
  padding: 0 1rem

.employee-info__photo
  flex: 0 0 240px
  width: 240px
  margin-right: 2em

.employee-info__photo-large
  width: 240px

.employee-info__data
  flex: 1 1 auto

.employee-info__phones-header
  font-size: 18px
  color: #666
  margin-bottom: .5rem

.employee-info__phone
  display: flex
  flex-wrap: wrap
  padding: 2px 0

.employee-info__phone-label
  flex: 2 1 auto
  font-size: 14px
  padding-top: 4px
  color: #777

.employee-info__phone-number
  flex: 3 1 auto
  text-align: right
  white-space: nowrap
  font-size: 18px

  &:before
    content: '\00a0'

.employee-info__iconed-data
  margin-top: 1rem
  display: flex
  align-items: stretch

.employee-info__data-icon
  flex: 0 0 32px
  display: flex

  svg
    display: block
    width: 32px
    height: 32px
    flex: 0 0 100%

    path,
    polygon
      fill: #888

.employee-info__data-container
  flex: 1 1 auto
  padding-left: 1rem
  display: flex
  align-items: center

.employee-info__data-data

.employee-info__location
  margin-top: 2rem

.employee-info__location-icon
  align-items: center

.employee-info__location-building,
.employee-info__location-office
  white-space: nowrap

.employee-info__location-building-label,
.employee-info__location-office-label,
.employee-info__lunch-label,
.employee-info__birthday-label
  font-size: 16px
  color: #666
  line-height: 1.1

.employee-info__location-building-label,
.employee-info__location-office-label
  padding-top: 2px

.employee-info__lunch-label,
.employee-info__birthday-label
  margin-bottom: 4px

.employee-info__location-building-number,
.employee-info__location-office-number,
.employee-info__lunch-begin,
.employee-info__lunch-end,
.employee-info__birthday-day
  font-size: 18px

.employee-info__location-building-number,
.employee-info__location-office-number
  &:before
    content: ' '

.employee-info__dummy-head-info
  padding: 1rem .5rem 0 1rem

.employee-info__dummy-head
  height: 3rem
  background-color: #ddd
  width: 80%

.employee-info__dummy-post-title
  margin-top: 1rem
  height: 1.5rem
  background-color: #ddd
  width: 90%

.employee-info__dummy-unit-title
  margin-top: 1rem
  height: 1.5rem
  background-color: #ddd
  width: 85%

.employee-info__dummy-avatar
  width: 240px

  svg
    path
      fill: #ddd

.employee-info__dummy-phones
  height: 8rem
  background-color: #ddd

.employee-info__data-dummy-data
  display: inline-block
  width: 8rem
  height: 2rem
  background-color: #ddd
