.employee
  display: flex
  cursor: pointer
  position: relative

  &.list-item.shadow
    .employee__info,
    .employee__phones
      padding-top: 4px
      padding-bottom: 4px
      padding-right: 8px

  &.list-item.hair-border
    .employee__info,
    .employee__phones
      margin-top: -6px

    .employee__phones
      padding-left: 8px

.employee_highlighted
  .employee__info,
  .employee__phones
    background-color: #6785cb

    *
      color: #fff

    .employee__to-call,
    .employee__favorite
      svg
        path
          fill: #fff

.employee__photo
  flex: 0 0 60px
  width: 60px
  height: 80px

.employee__thumb45
  display: none

.employee__avatar
  padding-top: 10px
  overflow: hidden

  svg
    width: 60px
    height: 60px

.employee__info
  flex: 1 1 90%
  padding-left: 16px
  overflow: hidden

.employee__name
  white-space: nowrap
  font-size: 18px
  color: #444
  padding-bottom: 1px

.employee__last-name

.employee__first-name
  &:before
    content: ' '

.employee__middle-name
  &:before
    content: ' '

.employee__to-call
  display: inline-block
  margin-left: 6px
  svg
    position: relative
    top: 2px
    width: 16px
    height: 16px
    path
      fill: #64d57f

.employee__favorite
  display: inline-block
  margin-left: 6px
  svg
    position: relative
    top: 2px
    width: 16px
    height: 16px
    overflow: visible
    path
      fill: #fbe50d

.employee__post_title
  margin-top: 4px
  font-size: 13px
  line-height: 1.2
  color: #444

.employee__organization_unit_title
  margin-top: 4px
  font-size: 13px
  line-height: 1.2
  color: #777

.employee__phones
  flex: 1 1 auto

.employee__phone
  text-align: right
  white-space: nowrap

.employee__status-container
  position: absolute
  bottom: 0
  right: 0

.employee__status
  display: inline-block
  padding: 0 10px
  line-height: 26px

.employee__birthday
  background-color: #86dbcb
  color: #fff
  font-weight: bold

.employee__on-vacation
  background-color: #de7079
  color: #fff
  font-weight: bold

.employee__on-lunch
  background-color: #e8a84f
  color: #fff
  font-weight: bold
