.employee-info-scroller
  overflow-y: auto
  background-color: #fff
  filter: drop-shadow(0 8px 6px #888)

.employee-info

.employee-info__head
  display: flex

.employee-info__name
  flex: 0 1 100%
  padding: .5rem .5rem 0 1rem
  font-size: 24px
  line-height: 1.2
  color: #333

.employee-info__close-button
  flex: 0 0 3rem
  width: 3rem
  height: 3rem
  box-sizing: border-box
  cursor: pointer

.employee-info__close-button-cross
  display: block
  width: 3rem

.employee-info__post_title
  margin-top: .5rem
  font-size: 18px
  line-height: 1.2
  color: #444
  padding: 0 1rem

.employee-info__unit_title
  margin-top: .5rem
  font-size: 18px
  line-height: 1.2
  color: #777
  padding: 0 1rem

.employee-info__two-columns
  margin-top: 1rem
  display: flex
  padding: 0 1rem

.employee-info__photo
  flex: 0 0 240px
  width: 240px

.employee-info__photo-large
  width: 240px

.employee-info__data
  flex: 1 1 auto
  padding-left: 2rem

.employee-info__phone
  font-size: 18px

.employee-info__iconed-data
  margin-top: 1rem
  display: flex

.employee-info__data-icon
  flex: 0 0 48px

.employee-info__data-data
  flex: 1 1 auto
  padding-left: 1rem

.employee-info__location
  margin-top: 2rem

.employee-info__lunch-data,
.employee-info__birthday-data
  padding-top: 1rem

