.search-results__scroller
  overflow-y: auto
  padding: 0 16px
  -webkit-overflow-scrolling: touch
  z-index: 0

.search-results

.search-results__head
  display: flex

.search-results__title
  font-size: 24px
  line-height: 1.3
  color: #333
  margin-bottom: 1rem
  flex: 1 1 auto

.search-results__settings
  flex: 0 0 32px

.search-results__no-results

