.search-panel-container
  @media (max-width: $one-column-max)
    padding: 0 20px
  @media (min-width: $two-column-min) and (max-width: $two-column-max)
    padding: 0 10px
  @media (min-width: $three-column-min) and (max-width: $three-column-max)
    padding: 0 20px
  @media (min-width: $four-column-min)
    padding: 0 20px

.search-panel
  display: flex

.search-panel__input-container
  flex: 1 0 auto
  padding: 12px 0
  display: flex

.search-panel__input-field
  filter: drop-shadow(0 6px 6px #bbb)
  background-color: #fff
  flex: 1 0 auto
  display: flex

.search-panel__input
  flex: 1 0 auto
  height: 40px
  box-sizing: border-box
  color: #666
  padding: 4px 16px
  font-weight: 300
  font-size: 32px
  line-height: 1
  border: 0
  outline: 0

.search-panel__input::-ms-clear
  display: none

.search-panel__reset
  width: 48px
  flex: 0 0 auto
  cursor: pointer
  position: relative

  &:hover
    .search-panel__reset-icon
      path
        fill: #aaa

.search-panel__reset-icon
  display: block
  position: absolute
  left: 0
  top: 0
  width: 48px
  height: 40px

  path
    fill: #ccc

.search-panel__search
  width: 40px
  flex: 0 0 auto
  cursor: pointer
  position: relative
  margin-left: 2rem

  &:hover
    .search-panel__search-icon
      path
        fill: #444

.search-panel__search-icon
  display: block
  position: absolute
  left: 0
  top: 0
  width: 40px
  height: 40px

  path
    fill: #888

.search-panel__buttons-container
  width: 196px
  flex: 0 0 auto
  display: flex
  justify-content: space-evenly

.search-panel__hot-button
  width: 64px
  height: 64px
  flex: 0 0 auto
  padding: 12px
  box-sizing: border-box
  cursor: pointer

.search-panel__hot-button-bg
  width: 40px
  height: 40px
  background-color: $secondary-color
  padding: 4px
  box-sizing: border-box

.search-panel__hot-button-img
  width: 32px
  height: 32px

