<!doctype html>
<html>
<head>
  <title>Справочник сотрудников</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width height=device-height" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <%= vendorCss ? `<link type="text/css" rel="stylesheet" href="${vendorCss}" />` : '' %>
  <link type="text/css" rel="stylesheet" href="<%= appCss %>" />
  <%= chunkCss.map(bundle => {
    return `<link type="text/css" rel="stylesheet" href="${process.env.PUBLIC_ASSET_PATH}${bundle.file}" />`
  }).join('\n') %>
</head>
<body>
  <div id="app"><%= html %></div>
  <script>window.__INITIAL_STATE__=<%= JSON.stringify(initialState) %>;try{if(navigator.appVersion.match(/Trident/)){document.getElementsByTagName('body')[0].className+=' ie'}}catch(e){}</script>
  <%= polyJs ? `<script src="${polyJs}"></script>` : '' %>
  <%= vendorJs ? `<script src="${vendorJs}"></script>` : '' %>
  <script src="<%= appJs %>"></script>
  <%= chunkJs.map(bundle => {
    return `<script src="${process.env.PUBLIC_ASSET_PATH}${bundle.file}"></script>`
  }).join('\n') %>
  <script>window.main();</script>
</body>
</html>
